# Awọn igbasilẹ
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Alaye akoko ṣiṣe
pids
*.pid
*.seed
*.pid.lock

# Directory fun awọn ile ika ti a ṣẹda nipasẹ jscoverage/JSCover
lib-cov

# Directory ideri ti a lo nipasẹ awọn irinṣẹ bii istanbul
coverage

# idanwo ideri nyc
.nyc_output

# Grunt ibi ipamọ alabọde (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf iṣeto
.lock-wscript

# Awọn afikun faili binary ti a ṣajọ (https://nodejs.org/api/addons.html)
build/Release

# Awọn directory awọn igbẹkẹle
node_modules/
jspm_packages/

# Awọn faili idasilẹ TypeScript v1
typings/

# Aṣayan ibi ipamọ npm cache
.npm

# Aṣayan ibi ipamọ eslint cache
.eslintcache

# Itan REPL ti a fi ṣayẹwo
.node_repl_history

# Abajade 'npm pack'
*.tgz

# Faili Yarn Integrity
.yarn-integrity

# Faili ayika dotenv
.env

# Abajade kọlu next.js
.next

# Directory ti a ṣẹda nipasẹ IDE webstore
.idea
